$bright: #CCCCDD;
$dark: #111122;
$bgcolor: #EEEEFE;

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
  color: $dark;
  background-color: $bgcolor;
}

.headerWrap {
  width: 600px;
  margin: 0 auto;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

.footer {
  height: 200px;
  background-color: $dark;
  margin-top: 100px;
}

a {
  text-decoration: none;
  color: $dark;
}

.post-list {
  list-style: none;
  margin: 0 auto;
}

.post-list li {
  display: inline-block;
  margin: 25px;
  background-color: $bright;
  padding: 30px;
  border-radius: 20px;
  width: 150px;
  height: 150px;
  vertical-align: top;
}

.post-list li:hover {
  background-color: $dark;
  color: $bright;
  a {
    color: $bright;
  }
}

.contentWrapper {
  width: 50%;
  margin: 0 auto;
}

.headerPar {
  color: #FFFFFF;
  height: 160px;
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: $dark;
  transform: skew(-20deg);
  display: inline-block; 
  border-radius: 20px;
  text-align: center;
  
  a {
    line-height: 120px;
    color: #FFFFFF;
    font-size: 40px;
    transform: skew(0);
  }

}

.header {
  //background: url("./_assets/bg.jpg") no-repeat;
  //background-size: 100%;
  margin-bottom: 100px;
  height: 200px;
  width: 100%;
  background-color: $bright;
  //background: url("./_assets/bg.jpg") no-repeat;
}