$bright: #EEEEEE;
$dark: #2E2E2E;
$semi-dark: #6E6E6E;
$bgcolor: #FFFFFF;
$headerClr: #2E2E2E;
$light: #BBBBBB;
$link-color: #2980b9;

$nav-height: 80px;

body {
  margin: 0; 
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: $bright;
  background-color: $bgcolor;
  font-size: 18px;
}

.page-heading {
  text-align: right;
  margin-right: 80px;
}

.wrapper {
  width: 100%;
}

.header {
  height: 200px;
  background: url("../bg.JPG") no-repeat;
  background-size: 100% 100%; 
}

.post-meta {
  font-size: 12px;
  color: $light;
}

.navWrap {
  width: 880px;
  margin: 0 auto;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

.footer {
  clear: both;
  height: 150px;
  background-color: $dark;
  padding: 20px;
}

.footWrap {
  display: block;
  height: 100px;
  width: 40%;
  margin: 0 auto;
  margin-top: 25px;
  
  a {
    display: block;
    color: $link-color;
    
  }

  a:hover {
    color: $bright;
  }
}

a {
  text-decoration: none;
  color: $link-color;
}

.post-list {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
}

.post-list li {
  display: inline-block;
  margin: 4%;
  width: 80%;

  * {
    margin: 0;
    padding: 0;
  }
}

#disqus_thread {
  margin-top: 100px; 
}

.post-list li a:hover {
  color: $bright;
}

.contentWrapper {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.realContent {
  padding: 5%;
  width: 60%;
  border-radius: 50px;
  background-color: $dark;
  margin-right: 20px;
  margin-bottom: 100px;
  float: left;
  
}

.sidebar {
  margin-bottom: 100px;
  padding: 2%;
  width: 20%;
  float: right;
  margin-left: 20px;
  border-radius: 50px;
  background-color: $dark;
  min-height: 500px;
}

.navWrap a {
  height: $nav-height / 2;
  width: 350px;
  margin: 20px;
  display: inline-block; 
  text-align: center;
  padding: 10px;
  line-height:16px;
  color: $link-color;
  font-size: 26px;
  
}

.realContent img {
  width: 40%;
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  float: left; 
  border-radius: 26px;
  margin-bottom: 10px;
}

.realContent img~hr {
  clear: both;
}

.navWrap a:hover {
    color: $bright;
}

.nav {
  position: fixed;
  background-color: $dark;
  //background: url("./_assets/bg.jpg") no-repeat;
  //background-size: 100%;
  height: $nav-height;
  width: 100%;
  //background: url("./_assets/bg.jpg") no-repeat;
}

@media screen and (max-width: 1200px) {
  
  .nav {
    position: relative;
    width: 100%;
    background-color: $bgcolor;
    margin-top: 0;
  }

  .navWrap {
    width: 100%;

    a {
      width: 100%;
      margin: 0;
      padding: 0;
      padding-top: 40px;
      height: 80px;
      background-color: $dark;
      border-bottom: 1px solid white;
    }
  }

  .wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .contentWrapper {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  .sidebar {
    border-radius: 0;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 79px;
    width: 100%;
    display: block;
    float: none;
  }

  .realContent {
    border-radius: 0;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: block;
    float: none;
    * {
      margin: 4%;
    }
  }

  .realContent img {
    width: 100%;
    clear: both;
    margin: 0;
    border-radius: 0;
    display: block;
    margin-bottom: 10px; 
  }

  #disqus_thread {
    width: 85%;
  }
  
}